{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block contant_box %}

  <div method='post' style="width:50%; margin:auto" >
    {% if messages %}
      {% for m in messages %}
      <h3 class="text-{{m.tags}}"> {{m}} </h3>
      {% endfor %}
    {% endif %}
  </div>

  <form method='post' style="width:50%; margin:auto" novalidate>
    <h1>{{type}} form</h1>
    {% csrf_token %}
    <!-- {{form|crispy}} -->
    {% if form.non_field_errors %}
    {% for fr in form.non_field_errors %}
        <p class=" bg-warning p-2">{{fr}}</p>
    {% endfor %}
    {% endif %}
    {% for fm in form %}
        {{fm.label_tag}}
        {{fm}}
        {{fm.errors|striptags }}
        <br>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock contant_box %}